.item1{
    grid-area: left;
}
.item2{
    grid-area: right;
}

.section{
    display:grid;
    grid-template-areas:"left right" ;
    grid-gap:20px;
    padding:10px;
}

@media (min-width: 960px){

    .uk-width-1-2\@m {
    width: 80%;
}
}