.item1{
    grid-area: left;
}
.item2{
    grid-area: right;
}

.section{
    display:grid;
    grid-template-areas:"left right" ;
    grid-gap:20px;
    padding:10px;
}
.section .left-section .like:active i{
    color: red;
}

@media (min-width: 960px){
.cards {
    width: 80% !important;
}
}