.item1{
    
    grid-area: left;
    width: 200%;
    padding-left: 50px;
}
.item2{
    grid-area: right;
    padding-left: 360px;
    
}
.item3{
    grid-area: mid;
}

.section{
    display:grid;
    grid-template-areas:"mid left right" ;
    grid-gap:20px;
    padding:10px;
}
.section-heading{
    text-align: center;
}
.section .left-section .like:active i{
    color: red;
}

@media (min-width: 960px){
.cards {
    width: 100% !important;
}
}