<style>
    .uk-fieldset{
    margin: 13px 280px;   
}
</style>

<form action="/post/<%= post.id %>?_method=PUT" method="POST">
    <fieldset class="uk-fieldset">

        <legend class="uk-legend">What's happeninig?</legend>

        <input type="hidden" value="" />
        <input type="hidden" value="" />
     
        <div class="uk-margin">
            <input class="uk-input" type="text" name="title" placeholder="Title" value="<%= post.title %>">
        </div>
         
        <div class="uk-margin">
            <textarea class="uk-textarea" name="description" rows="5" placeholder="Content" ><%= post.description %></textarea>
        </div>
        <div class="uk-margin">
            <input class="uk-input" type="text" name="image" placeholder="Add an image url" value="<%= post.image %>">
        </div>
        
        <button type="submit" class="uk-button uk-button-primary">Tweet</button>
        <a href="/" class="uk-button uk-button-danger">Cancel</a>

    </fieldset>
</form>

