<%- include("../partials/header.ejs") %>

<form action="/post/save" method="POST">
    <fieldset class="uk-fieldset">

        <legend class="uk-legend">What's happeninig?</legend>

        <input type="hidden" value="" />
        <input type="hidden" value="" />
     

        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Title">
        </div>
         
        <div class="uk-margin">
            <textarea class="uk-textarea" rows="5" placeholder="Content"></textarea>
        </div>
        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Add an image url">
        </div>
        
        <button type="submit" class="uk-button uk-button-primary">Tweet</button>
        <a href="/" class="uk-button uk-button-danger">Cancel</a>
        

    </fieldset>
</form>




<!-- <%- include("../partials/footer.ejs") %> -->